{{page-title "ChatRoom"}}

<div id="container">
    <h1>welcome to the worlds most insecure chat room</h1>
    <div>
        <label for="comment-field">Send Comment:</label>
        <input type="text" id="comment-field">
    </div>
    <button type="button">Send Comment</button>
</div>

{{outlet}}